# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Node / Frontend
node_modules/
dist/
build/
.cache/
.vite/
coverage/

# Env / secrets
.env
.env.*
*.pem
*.key

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
